@charset "utf-8";
/* styles applied for all window widths */

html{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    background: #093028;
    color: #ffffff;
}
body{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4{
    font-weight: bold;
    text-align: center;
}
h1{
    font-size: 2.25rem;
    line-height: 1.125;
    margin: 0 0 1.125rem 0;
    font-family: 'Playfair Display', serif;
}
h2{
    font-size: 2.25rem;
    line-height: 1.125;
    margin: 0 0 1.125rem 0;
    font-family: 'Playfair Display', serif;
}
h3{
    margin: 0 0 1.125rem 0;
    font-size: 1.125rem;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
}
h4,
.subtitle {
    margin: 0 0 1.125rem 0;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}
.buttonOutline{
    display: block;
    padding: 1rem;
    border: 1px solid #ffffff;
    opacity: 0.5;
    width: 100%;
    max-width: 12rem;
    text-align: center;
    cursor: pointer;
    margin: 0 0.5rem;
}
.buttonOutline:hover{
    opacity: 1;
}
.buttonOutline.active{
    background: rgba(255,255,255,0.25);
}


/* Main Intro */

.mainIntro{
    background: #34e89e;  /* fallback for old browsers */
    background: linear-gradient(0deg, #093028, #237A57); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Scroll Titles */

.scrollIcon{
    position: absolute;
    bottom:2rem;
    left: calc(50% - 2rem);
    transition: opacity 0.5s ease;
}
.scrollIcon.fadeOut{
    opacity: 0;
}
.introScreens{
    width: 100%;
}
.introScreenBox{
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}
.introScreen{
    width: 50%;
    align-self: center;
    opacity:0;
    transition: opacity 0.5s ease;
}
.introScreen.fadeIn{
    opacity:1;
}
.introScreen.fadeOut{
    opacity:0 !important;
}

/* Collection Planets */

.collectionPlanet .collectionItems{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    position: absolute;
}
.collectionPlanet .totalItems{
    background: #ffffff;
    opacity: 0.25;
}
.collectionPlanet:hover .totalItems{
    opacity: 0.5;
    box-shadow: 0px 0px 2px 0px #ffffff;
}
.collectionPlanet .onlineItems{
    background: #ffffff;
    opacity: 1;
}
.collectionPlanet .collectionInfo,
.collectionPlanet .collectionName{
    color: #ffffff;
    font-size: 1rem;
    opacity: 0.5;
}

/* Collection Planets End */

/* Collection Intro Space */

.spaceChartCanvas{
    width: 100%;
    height: 175%;
    position: fixed;
    top:0;
    left: 0;
}
.spaceChart{
    width: 100%;
    height: 100%;
    position: absolute;
}
.spaceChart .collectionPlanet{
    position: absolute;
}
.spaceChart .collectionPlanet .collectionItems{
    transition: transform 0.5s ease;
}
.spaceChart .collectionPlanet .onlineItems{
    opacity: 1;
}
.spaceChart .collectionPlanet .collectionName,
.spaceChart .collectionPlanet .collectionInfo{
    position: absolute;
    opacity: 0;
    width: 50vw;
    pointer-events: none;
    z-index: 10;
    top: -0.5rem;
    transition: opacity 0.5s ease, left 0.5s ease, right 0.5s ease;
}
.spaceChart .collectionPlanet .collectionName {
    right: 0;
    text-align: right;
}
.spaceChart .collectionPlanet .collectionInfo {
    left: 0;
    text-align: left;
}
.spaceChart .collectionPlanet:hover .collectionName,
.spaceChart .collectionPlanet:hover .collectionInfo{
    opacity: 0.5;
}
.spaceChart .collectionPlanet:hover .collectionName {
    right: 7rem;
}
.spaceChart .collectionPlanet:hover .collectionInfo {
    left: 7rem;
}

.spaceChart.hideOnline .onlineItems{
    transform: scale(0,0) !important;
}

/* Collection Intro Space End*/

/* Main Title */

.mainTitle{
    height: 100vh;
    background: #ffffff;
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #093028;
}
.mainTitle h1 {
    align-self: center;
}
.mainTitle p {
    align-self: center;
}

/* Main Title End*/

/* Chapters */

.colSizeStatsFrame{
    position: relative;
    z-index: 20;
    background: #093028;
}
.chapterText{
    max-width: 600px;
    margin: 0rem auto 0 auto;
    padding: 10rem 0 0 0;
}
.chapterSubmenu{
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 0rem auto 0 auto;
}
/* Chapters End */

/* Collection Size */

.colSizeStats{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;
}
.colSizeStats .collectionPlanet{
    height: 3rem;
    display: flex;
    justify-content: center;
}
.colSizeStats .collectionPlanet .collectionItems{
    align-self: center;
}
.colSizeStats .collectionPlanet .onlineItems{
    align-self: center;
}
.colSizeStats .collectionPlanet .collectionName,
.colSizeStats .collectionPlanet .collectionInfo{
    width: 50%;
    position: relative;
    z-index: 5;
    height: 100%;
    padding-top: 0.75rem;
}
.colSizeStats .collectionPlanet .collectionName{
    text-align: right;
    padding-right: 5rem;
}
.colSizeStats .collectionPlanet .collectionInfo{
    text-align: left;
    padding-left: 5rem;
}
.colSizeStats .collectionPlanet:hover .collectionName,
.colSizeStats .collectionPlanet:hover .collectionInfo{
    opacity: 1;
}

/* Collection Size  End*/



