@charset "utf-8";
/* styles applied for all window widths */

html{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    background: #111111;
}
body{
    margin: 0;
    padding: 0;
}
.collectionSelect{
    max-width: 100%;
}
.collectionStats{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap:wrap;
    margin: 2rem 0;
}
.artifactItem{
    width: 0.9rem;
    height: 1.2rem;
    margin: 0;
    background: #ffffff;
    border: 3px solid #111111;
    box-sizing: border-box;
    animation: showArtifactItem 6s infinite;
    opacity: 0;
}
@keyframes showArtifactItem {
    0%      { opacity: 0; }
    50%     { opacity: 0.1; }
    100%    { opacity: 0; }
}
.openArtifact{
    opacity: 1;
}