<html lang="cs">
<head>
    <title>Otevřené sbírky | Zpráva o digitalizaci a zpřístupňování kulturního dědictví v České republice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}?v=7">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 480px)"
          href="{{ url_for('static', filename='style/from480.css') }}?v=3">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 600px)"
          href="{{ url_for('static', filename='style/from600.css') }}?v=3">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 840px)"
          href="{{ url_for('static', filename='style/from840.css') }}?v=3">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 960px)"
          href="{{ url_for('static', filename='style/from960.css') }}?v=5">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1280px)"
          href="{{ url_for('static', filename='style/from1280.css') }}?v=3">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1440px)"
          href="{{ url_for('static', filename='style/from1440.css') }}?v=3">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1600px)"
          href="{{ url_for('static', filename='style/from1600.css') }}?v=3">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- JS -->
    <script>
      const collectionData = {{ collectionDataJson|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}?v=5" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


</head>
<body>

<!-- Main intro -->

<section class="mainIntro">

    <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
    <div class="scrollIcon">
        <lord-icon
            src="https://cdn.lordicon.com//xwjtkymn.json"
            trigger="loop"
            colors="primary:#ffffff,secondary:#ffffff"
            style="width:4rem;height:4rem">
        </lord-icon>
    </div>

    <div class="introScreens">
        <div class="introScreenBox">
            <article class="introScreen fadeIn" id="introScreen1">
                <h2>{{museumsCount}} muzeí a galerií</h2>
                <p class="subtitle">je zapsáno v registru sbírek Ministerstva kultury ČR</p>
            </article>
        </div>
        <div class="introScreenBox">
            <article class="introScreen" id="introScreen2">
                <h2>{{ "{:,}".format(totalItems).replace(',', ' ') }} předmětů</h2>
                <p class="subtitle">uměleckých děl, historických artefaktů, technických památek nebo přírodních pozoruhodností se nachází ve sbírkách těchto institucí</p>
            </article>
        </div>
        <div class="introScreenBox">
            <article class="introScreen" id="introScreen3">
                <h2>{{ "{:,}".format(onlineItems).replace(',', ' ') }} předmětů je online</h2>
                <p class="subtitle">Tedy přibližně {{(onlineItems/totalItems*100)|round(1,'common')}} % z celkového počtu si lze prohlédnout na internetu</p>
            </article>
        </div>
        <div class="introScreenBox">
            <article class="introScreen" id="introScreen4">
                <h2>A jak se seznámíte s těmi ostatními?</h2>
            </article>
        </div>
        <div class="introScreenBox">
            <article class="introScreen" id="introScreen5">
                <h2>neseznámíte</h2>
                <p class="subtitle">Zbývajících {{ "{:,}".format(totalItems - onlineItems).replace(',', ' ') }} předmětů je až na výjimky uschováno v&nbsp;nedostupných depozitářích</p>
            </article>
        </div>
    </div>

    <div class="spaceChartCanvas" id="spaceChartCanvas">
        <div id="spaceChart" class="spaceChart revealTotalCount hideOnline"></div>
    </div>

</section>

<!-- Main Title -->

<section class="mainTitle">
    <h1>Otevřené sbírky</h1>
    <p class="subtitle">Zpráva o digitalizaci a zpřístupňování kulturního dědictví v České republice</p>
    <p class="subtitle">2021</p>
</section>

<!-- Stats Section -->

<section class="colSizeStatsFrame storyChapter">
    <article class="chapterText">
        <h2>Jak jsou na tom jednotlivá muzea a galerie?</h2>
        <p class="subtitle">Porovnejte si velikosti fyzických sbírek a počet online publikovaných reprodukcí</p>
    </article>
    <nav class="chapterSubmenu" id="switchColOrder">
        <a onclick="displayColStats('Total Items')" class="buttonOutline jsButton active">Největší sbírky</a>
        <a onclick="displayColStats('Online Items')" class="buttonOutline jsButton">Největší online katalogy</a>
    </nav>
    <div class="colSizeStats" id="colSizeStats">
    </div>
    <nav class="chapterSubmenu">
        <a onclick="toggleCollections()" class="buttonOutline" id="revealButton">Zobrazit vše</a>
    </nav>
</section>

<section class="storyChapter">
    <article class="chapterText">
        <h2>K čemu jsou otevřené sbírky dobré?</h2>
        <p class="subtitle">Sbírkové předměty publikované online jsou dostupnější, přehlednější a lépe přístupné pro <strong>učitele, badatele, umělce, designéry i širokou veřejnost</strong></p>
        <p>Naleznou uplatnění při vzdělávání, výzkumu nebo v kreativním průmyslu; ať už se jedná o film, divadlo nebo architekturu, při tvorbě různorodých publikací či v disciplínách, jako je design počítačových her a digitálních prezentací. Zpřístupnění reprodukcí online má pozitivní vliv i na samotný artefakt; jeho potenciál pro vystavení i probádání je mnohem větší než u nereprodukovaných děl. Navíc se snižuje manipulace s cennými originály, a tím i míra jejich opotřebení. Je tedy možné říct, že čím více digitálních reprodukcí bude dostupných online, tím lépe. A není třeba se bát, že by se tím snížila návštěvnost muzeí a galerií.</p>
    </article>

    <div class="extendedChart chart">
        <canvas id="euCollectionsUse" style="display: block;">
        <script>
            // Global parameters for all charts:
            Chart.defaults.global.responsive = false;
            Chart.defaults.global.defaultFontColor = '#000000';
            Chart.defaults.global.defaultFontSize = 16;
            Chart.defaults.global.defaultFontFamily = "'Montserrat', sans-serif";
            Chart.defaults.global.tooltips.backgroundColor = "#000000";
            Chart.defaults.global.tooltips.titleFontSize = 16;
            Chart.defaults.global.tooltips.bodyFontSize = 16;
            Chart.defaults.global.tooltips.cornerRadius = 0;
            Chart.defaults.global.tooltips.xPadding = 20;
            Chart.defaults.global.tooltips.yPadding = 20;
            Chart.defaults.global.tooltips.borderColor = '#ffffff';
            Chart.defaults.global.tooltips.borderWidth = 1;
            Chart.defaults.scale.gridLines.color = '#000000';
            Chart.defaults.scale.ticks.beginAtZero = true;

            // define the chart data
            var chartData = {
                labels:
                    ['Využití při výzkumu', 'Využití ve vzdělávání', 'Snižuje opotřebení fyzických originálů', 'Osobní potěšení', 'Kreativní využití', 'Ideologické nebo náboženské užití', 'Ostatní využití', 'Obchodní nebo komerční využití'],
                datasets:
                    [
                        {
                            label: ' Podíl (%) představitelů evropských muzeí uvádějících vybrané přínosy online sbírek',
                            backgroundColor: '#000000',
                            data: [88, 85, 76, 63, 53, 47, 46, 27],
                            maxBarThickness: 20,
                        }
                    ]
            }

            // get chart canvas
            var ctx = document.getElementById("euCollectionsUse").getContext("2d");

            // create the chart using the chart canvas

            var allCzCollections = new Chart(ctx, {
                type: 'horizontalBar',
                data: chartData,
            });
        </script>
    </canvas>
    </div>

</section>

<!-- Jsme horší než evropský průměr -->

<section class="storyChapter">
    <article class="chapterText">
        <h2>Jsme horší než evropský průměr</h2>
        <p class="subtitle">V celoevropském měřítku je prezentováno online asi <strong>11%</strong> celkového počtu sbírkových předmětů. Tedy téměř <strong>4x více než v ČR</strong>.</p>
        <p>Obecně platí, že digitalizovné není totéž co přístupné. Většina digitálních reprodukcí je pouze uložena na veřejnosti nedostupných serverech a slouží jen interním potřebám dané instituce. Evropská muzea mají v průměru digitalizováno 31% fyzických artefaktů ze svých sbírek. <a href="https://pro.europeana.eu/files/Europeana_Professional/Projects/Project_list/Europeana_DSI-2/Deliverables/d4.3%20DSI-2%20Final%20Project%20Report.pdf" target="_blank">Vyplývá to z průzkumu</a>, který v roce 2017 provedla <a href="https://www.europeana.eu/">Europeana Foundation</a>. Ne každé dílo, které prošlo digitalizací, je zveřejněno na internetu. Podle téhož zdroje je takto zpřístupněno pouze 36% z nich, tedy asi 11% celkového počtu sbírkových předmětů. V České republice jsou online k dispozici 3% fyzických sbírek. Za předpokladu, že by poměr digitalizovaných a zveřejněných předmětů byl totožný jako v EU, odpovídalo by této hodnotě 9% digitalizovaných sbírkových předmětů.</p>
    </article>
    <div class="basicChart chart">
        <canvas id="euCzComparison" style="display: block;">
            <script>

                // define the chart data
                var chartData = {
                    labels:
                        ['Evropská unie', 'Česká republika'],
                    datasets:
                        [
                            {
                                label: ' Digitalizováno a publikováno online (%)',
                                backgroundColor: '#3c9d9b',
                                data: [11, 3],
                            },
                            {
                                label: ' Digitalizováno, ale nepublikováno online (%)',
                                backgroundColor: '#2c7873',
                                data: [20, 6],
                            },
                            {
                                label: ' Nedigitalizováno (%)',
                                backgroundColor: '#000000',
                                data: [69, 91],
                            }
                        ]
                }

                // get chart canvas
                var ctx = document.getElementById("euCzComparison").getContext("2d");

                // create the chart using the chart canvas

                var allCzCollections = new Chart(ctx, {
                    type: 'bar',
                    data: chartData,
                    options: {
                        aspectRatio: 1,
                        scales: {
                            xAxes: [{
                                stacked: true
                            }],
                            yAxes: [{
                                stacked: true
                            }]
                        }
                    }
                });
            </script>
        </canvas>
    </div>
</section>

<!-- Jak se sbírky zpřístupňují -->

<section class="storyChapter">
    <article class="chapterText">
        <h2>Jak se sbírky zpřístupňují?</h2>
        <p class="subtitle">Nejsnadnější cesta vede skrze <strong>nástroje a služby třetích stran</strong>. Naopak vybudování <strong>vlastní prezentace</strong> se jeví jako obtížný úkol vedoucí často k rozpačitým výsledkům.</p>
        <p>Vybudování samostatného online katalogu vyžaduje nemalé finanční zdroje, znalosti informačních technologií i značný čas pracovníků instituce. A to nejen při jeho tvorbě, ale i během provozu. Jako vhodnější způsob se proto prokazuje využití již předpřipraveného publikačního softwaru (jako nabízí například <a href="https://www.webumenia.sk/informacie" target="_blank">Webumenia.sk</a> z produkce Slovenské národní galerie), který umožňuje samostatnou prezentaci muzejní kolekce. Další možností je začlenění reprodukcí do sbírkových agregátorů (v ČR zejména portál <a href="https://www.esbirky.cz/" target="_blank">eSbírky</a>, v mezinárodním měřítku <a href="https://www.europeana.eu/en">Europeana</a> nebo <a href="https://commons.wikimedia.org/wiki/Main_Page" target="_blank">Wikimedia Commons</a>).</p>
    </article>
    <div class="extendedChart chart">
        <canvas id="euCollectionsChannels" style="display: block;">
            <script>

                // define the chart data
                var chartData = {
                    labels:
                        ['Vlastní web', 'Národní agregátor', 'Europeana', 'Jiný agregátor', 'Sociální sítě, Flickr, YouTube apod.', 'Wikipedia/Wikimedia', 'Jiné kanály', 'API třetí strany', 'Vlastní API'],
                    datasets:
                        [
                            {
                                label: ' Podíl (%) evropských muzeí využívající daný online kanál ke zpřístupňování sbírek',
                                backgroundColor: '#000000',
                                data: [83, 44, 40, 20, 20, 13, 12, 10, 10],
                                maxBarThickness: 20,
                            }
                        ]
                }

                // get chart canvas
                var ctx = document.getElementById("euCollectionsChannels").getContext("2d");

                // create the chart using the chart canvas

                var allCzCollections = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: chartData,
                });
            </script>
        </canvas>
    </div>
</section>

<!-- Co brání otevřenému přístupu -->

<section class="storyChapter">
    <article class="chapterText">
        <h2>Co brání otevřenému přístupu ke sbírkám</h2>
        <p class="subtitle"><strong>65&nbsp;domácích institucí</strong> odpovědělo na otázku „S&nbsp;jakými problémy se potýkáte při procesu digitalizace sbírkových předmětů a jejich zveřejnění?</p>
        <p>Proč jen mizivé procento kulturních artefaktů je dostupné online? Co stojí za smutným výsledkem? Jak to, že veřejné organizace nevyužívají současné technologie, aby co nejvíce zpřístupnily uchovávané bohatství?</p>
    </article>

    <div class="extendedChart chart">
        <canvas id="czObstacles" style="display: block;">
        <script>
            // Global parameters for all charts:
            Chart.defaults.global.responsive = false;
            Chart.defaults.global.defaultFontColor = '#000000';
            Chart.defaults.global.defaultFontSize = 16;
            Chart.defaults.global.defaultFontFamily = "'Montserrat', sans-serif";
            Chart.defaults.global.tooltips.backgroundColor = "#000000";
            Chart.defaults.global.tooltips.titleFontSize = 16;
            Chart.defaults.global.tooltips.bodyFontSize = 16;
            Chart.defaults.global.tooltips.cornerRadius = 0;
            Chart.defaults.global.tooltips.xPadding = 20;
            Chart.defaults.global.tooltips.yPadding = 20;
            Chart.defaults.global.tooltips.borderColor = '#ffffff';
            Chart.defaults.global.tooltips.borderWidth = 1;
            Chart.defaults.scale.gridLines.color = '#000000';
            Chart.defaults.scale.ticks.beginAtZero = true;

            // define the chart data
            var chartData = {
                labels:
                    ['Organizační náročnost', 'Nedostatek financí', 'Nedostatek technických znalostí', 'Nedostatek personálu','Autorská práva', 'Odlišné priority vedení či zřizovatele', 'Nízké povědomí o přínosech'],
                datasets:
                    [
                        {
                            label: ' Podíl (%) muzeí v ČR, která se setkávají s daným problémem při zpřístupňování sbírek online',
                            backgroundColor: '#000000',
                            data: [64.9, 45.6, 33.4, 18, 14, 12.3, 7],
                            maxBarThickness: 20,
                        }
                    ]
            }

            // get chart canvas
            var ctx = document.getElementById("czObstacles").getContext("2d");

            // create the chart using the chart canvas

            var allCzCollections = new Chart(ctx, {
                type: 'horizontalBar',
                data: chartData,
            });
        </script>
    </canvas>
    </div>

</section>

<!-- Copyright zabraňuje otevírání sbírek -->

<section class="storyChapter">
    <article class="chapterText">
        <h2>Copyright zabraňuje otevírání sbírek</h2>
        <p class="subtitle"><strong>Autorská práva</strong> jsou zřejmě nejzajímavější z výše uvedených překážek. Už jen z toho důvodu, že toto <strong>omezení vyplývá z celospolečenských legislativních norem</strong>, a tak je z pohledu jednotlivých organizací nejhůře řešitelné.</p>
        <p>Nejedná-li se o <a href="https://cs.wikipedia.org/wiki/Voln%C3%A9_d%C3%ADlo" target="_blank">volné dílo</a> (u nějž uplynulo 70 let od smrti jeho autora), musí muzeum pro jeho zveřejnění disponovat potřebnou <strong>licencí od držitele majetkových práv</strong>. Získávání takového oprávnění však bývá náročný proces, který může představovat významnou překážku otevírání sbírek. Ani publikace díla online však sama o sobě neznamená, že je možné reprodukci dále využívat. K tomu je nutné, aby bylo na stránce uvedeno, že je dílo dostupné pod <a href="https://creativecommons.org/licenses/" target="_blank">otevřenou licencí</a>. Zmínku o licenčních podmínkách však ve svých katalozích uvádějí jen některá domácí muzea.</p>
        <p>Podíl typů licencí u digitalizovaných sbírkových předmětů v držení evropských muzeí:</p>
    </article>
    <div class="basicChart chart">
        <canvas id="euLicence" style="display: block;">
        <script>

            // define the chart data
            var chartData = {
                labels:
                    ['Volná díla', 'Muzeum je vlastníkem licence', 'Třetí strana je vlastníkem licence', 'Neznámý stav'],
                datasets:
                    [
                        {
                            label: ' Podíl (%) evropských muzeí využívající daný online kanál ke zpřístupňování sbírek',
                            backgroundColor: ['#96e0d9', '#2c7873', '#000000', '#004445'],
                            data: [33, 43, 12, 13],
                            maxBarThickness: 20,
                        }
                    ]
            }

            // get chart canvas
            var ctx = document.getElementById("euLicence").getContext("2d");

            // create the chart using the chart canvas

            var allCzCollections = new Chart(ctx, {
                type: 'pie',
                data: chartData,
                options: {
                    aspectRatio: 1,
                }
            });
        </script>
        </canvas>
    </div>
</section>

<!-- Otevřená data usnadňují další využití -->

<section class="storyChapter">
    <article class="chapterText">
        <h2>Otevřená data usnadňují další využití</h2>
        <p class="subtitle">Ani předměty publikované pod <strong>Otevřenou licencí</strong> nemusí být snadno použitelné.</p>
        <p>Záznamy poskytované kulturními institucemi o jejich sbírkách a aktivitách by měly mít formu <a href="https://creativecommons.org/licenses/" target="_blank">otevřených dat</a>, která je vhodná pro <a href="https://pro.europeana.eu/page/apis" target="_blank">další počítačové zpracování</a>. V domácím prostředí se bohužel nenachází žádný katalog, který by <a href="https://www.programmableweb.com/category/museums/api" target="_blank">strojový přístup k databázi</a> umožňoval. Zájemce o větší objem reprodukcí je proto vždy odkázán na vyjednávání s institucí o zpřístupnění dat nebo musí vynaložit značné úsilí při rekonstrukci datasetu z dostupných zdrojů. V obou případech se jedná o bariéru, která odrazuje od užití digitalizovaných sbírek.</p>
    </article>
</section>

<section class="storyChapter">
    <article class="chapterText">
        <h2>Na viděnou v lepších číslech</h2>
    </article>
</section>

<footer>
    <article class="chapterText">
        <h2>Metodika průzkumu</h2>
        <p class="subtitle">Jakým způsobem byla získána a zpracována data</p>
        <p>Pro průzkum byla využita a kombinována data z několika zdrojů. Informace o velikosti fyzických kolekcí vychází z údajů registrovaných v  <a href="https://www.cesonline.cz/" target="_blank">Centrální evidenci sbírek muzejní povahy</a> (dále jen CES), kde je u každé podsbírky uveden údaj o počtu obsažených artefaktů. Počet fyzických artefaktů ve sbírce tedy odpovídá součtu artefaktů ze všech pod ní spadajících podsbírek. Ne vždy však data zobrazovaná v průzkumu přímo odpovídají informacím z evidence. V některých případech se při jejich zpracování objevily dílčí problémy, které jsme řešili následujícími způsoby:</p>
        <ol>
            <li>Většina sbírkotvorných institucí má v CES registrovánu právě jednu sbírku, což umožnilo porovnání počtu v ní evidovaných fyzických artefaktů s celkovým počtem položek v online katalogu dané instituce. V případech, kdy měla instituce registrovánu více než jednu sbírku, jsme tyto sbírky sloučili do jedné, aby bylo porovnání možné.</li>
            <li>V ojedinělých případech překročil počet registrovaných fyzických artefaktů v CES počet online přístupných děl. V takových situacích jsme považovali údaj registrovaný v CES za zastaralý a nahradili jsme jej velikostí online kolekce. </li>
        </ol>
        <p>Jako online zpřístupněný artefakt se v tomto průzkumu považuje položka zařazená do online katalogu obsahující digitální reprodukci (například fotografii, sken, video apod. bez ohledu na technickou kvalitu) a inventární číslo. Při určování rozsahu online katalogů jsme u každé instituce brali v potaz digitalizované artefakty zpřístupněné v rámci:</p>
        <ol>
            <li><a href="https://www.esbirky.cz/" target="_blank">Portálu eSbírky Národního muzea</a></li>
            <li><a href="http://www.citem.cz/promus11/index.php?page=catalogue" target="_blank">Portálu CITeM - Registru sbírek výtvarného umění</a></li>
            <li>Online katalogů zřizovaných jednotlivými muzey či menšími skupinami muzeí</li>
        </ol>
        <p>Ve třetím jmenovaném případě byl za online katalog považován takový web, který strukturovaně zobrazoval jednotlivé kulturní artefakty včetně jejich obrázků i popisů a který nabízel nástroje k jejich vyhledávání či systematickému procházení. </p>
        <p>Některé instituce zpřístupňují digitalizované artefakty více cestami zároveň (například v portálu eSbírky a ve vlastním online katalogu). V takové situaci byl započítán katalog s větším počtem položek, nikoliv součet položek z obou zdrojů. Důvodem pro to byl namátkově ověřený předpoklad, že se v katalogu s menším rozsahem objevují pouze takové artefakty, které jsou rovněž zahrnuty ve větším katalogu. Ze stejného důvodu nebyla do průzkumu zahrnuta data českých institucí z portálů Europeana Collections a Wikimedia Commons, které, oproti výše uvedeným zdrojům, obsahují nižší počty zastoupených artefaktů.</p>
        <p>Ve většině případů bylo možné z online katalogů získat informaci o počtu obsažených digitalizovaných artefaktů spadajících pod danou instituci. V případě portálu CITeM však katalog nerozlišuje položky s digitální reprodukcí a bez ní, což znejasňuje reálný počet online zpřístupněných artefaktů. V tomto případě jsme tedy použili statistický odhad celkového rozsahu na základě menšího vzorku náhodně vybraných položek.</p>
        <p>Pro rozšíření úhlu pohledu jsme data z českého prostředí doplnili o vybrané související údaje v evropském kontextu. Tyto informace byly převzaty ze zdrojů:</p>
        <ol>
            <li><a href="https://ec.europa.eu/eurostat/documents/3217494/10177894/KS-01-19-712-EN-N.pdf/915f828b-daae-1cca-ba54-a87e90d6b68b" target="_blank">Eurostat Culture Statistics 2019</a></li>
            <li><a href="https://pro.europeana.eu/post/europeana-strategy-2020-2025-empowering-digital-change?fbclid=IwAR2I4EA95sWFayNxR_t21PcGWEVcxFb5r-MwDuSPDkyPr6ntSVBfltoATs0" target="_blank">Europeana strategy 2020-2025: Empowering digital change</a></li>
            <li><a href="https://pro.europeana.eu/files/Europeana_Professional/Projects/Project_list/ENUMERATE/deliverables/DSI-2_Deliverable%20D4.4_Europeana_Report%20on%20ENUMERATE%20Core%20Survey%204.pdf" target="_blank">Europeana DSI 2– Access to Digital Resources of European Heritage</a></li>
        </ol>
        <p>Vzhledem k velkému množství zdrojů, které bylo nutné zpracovat, jsme mohli některý katalog či jeho část opomenout. Budeme rádi, když nás v takovém případě upozorníte.</p>
        <br><br>
        <p><a href="/static/csv/cz-online-collections.csv">Stáhnout data ve formátu .csv</a><br>Dataset obsahuje údaje o velikosti fyzických sbírek, digitálně přístupných sbírek a odkazy na online katalogy daných institucí.</p>
        <p><a href="/static/downloads/TZ-otevrene-sbirky.pdf">Stáhnout tiskovou zprávu</a></p>
        <br><br>
        <p><a href="http://lukaspilka.cz/" target="_blank">Lukáš Pilka</a> a <a href="mailto: tereza.skvarova@gmail.com">Tereza Škvárová</a>, duben 2021</p>
    </article>
</footer>

</body>
</html>
