<html lang="cs">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144703876-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-144703876-3');
    </script>

    <title>{% if not isProduction %}TESTOVACÍ VERZE | {% endif %}Otevřené sbírky {{currentYear}} | Zpráva o digitalizaci a zpřístupňování kulturního dědictví v České republice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content='V muzeích a galeriích ČR se nachází přes 25 milionů sbírkových předmětů. Jak jsou na tom jednotlivé instituce? Porovnejte si velikosti fyzických sbírek a počet online publikovaných reprodukcí.'>
    <meta name="author" content="Lukáš Pilka a Tereza Škvárová">
    <meta name="language" content="CS">
    <meta name="robots" content="index,follow">
    <meta name="date" content="Apr. 7, 2020">

    <!-- OG data -->
    <meta property="og:title" content="Otevřené sbírky {{currentYear}} | Zpráva o digitalizaci a zpřístupňování kulturního dědictví v České republice" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="../static/images/ogOpenCollections.png" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}?v=12">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 480px)"
          href="{{ url_for('static', filename='style/from480.css') }}?v=12">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 600px)"
          href="{{ url_for('static', filename='style/from600.css') }}?v=12">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 840px)"
          href="{{ url_for('static', filename='style/from840.css') }}?v=12">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 960px)"
          href="{{ url_for('static', filename='style/from960.css') }}?v=12">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1280px)"
          href="{{ url_for('static', filename='style/from1280.css') }}?v=12">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1440px)"
          href="{{ url_for('static', filename='style/from1440.css') }}?v=12">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1600px)"
          href="{{ url_for('static', filename='style/from1600.css') }}?v=12">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- JS -->
    <script>
      const collectionData = {{ collectionDataJson|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}?v=12" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>
<body>

<!-- Main intro -->

<section class="mainIntro">

    <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
    <lord-icon class="scrollIcon"
        src="https://cdn.lordicon.com/jnngpqjm.json"
        trigger="loop"
        colors="primary:#ffffff,secondary:#ffffff"
        >
    </lord-icon>

    <div class="introScreens">
        <div class="introScreenBox">
            <article class="introScreen fadeIn" id="introScreen1">
                <img src="../static/images/iconMuseum.svg" alt="Online Collection Museum Icon" class="introScreenImg">
                <h2>{{museumsCount}} muzeí a galerií</h2>
                <p class="subtitle">je zapsáno v registru sbírek Ministerstva kultury ČR</p>
            </article>
        </div>
        <div class="introScreenBox">
            <article class="introScreen" id="introScreen2">
                <img src="../static/images/iconArtwork.svg" alt="Online Collection Artwork Icon" class="introScreenImg">
                <h2>{{ "{:,}".format(totalItems).replace(',', ' ') }} předmětů</h2>
                <p class="subtitle">uměleckých děl, historických artefaktů, technických památek nebo přírodních pozoruhodností se nachází ve sbírkách těchto institucí</p>
            </article>
        </div>
        <div class="introScreenBox">
            <article class="introScreen" id="introScreen3">
                <img src="../static/images/iconOnlineArtwork.svg" alt="Online Collection Online Artwork Icon" class="introScreenImg">
                <h2>{{ "{:,}".format(onlineItems).replace(',', ' ') }} předmětů je online</h2>
                <p class="subtitle">Tedy přibližně {{(onlineItems/totalItems*100)|round(1,'common')}} % z celkového počtu si lze prohlédnout na internetu</p>
            </article>
        </div>
        <div class="introScreenBox">
            <article class="introScreen" id="introScreen4">
                <h2>A jak se seznámíte s těmi ostatními?</h2>
            </article>
        </div>
        <div class="introScreenBox">
            <article class="introScreen" id="introScreen5">
                <img src="../static/images/iconVault.svg" alt="Online Collection Vault Icon" class="introScreenImg">
                <h2>neseznámíte</h2>
                <p class="subtitle">Zbývajících {{ "{:,}".format(totalItems - onlineItems).replace(',', ' ') }} předmětů je až na výjimky uschováno v&nbsp;nedostupných depozitářích</p>
            </article>
        </div>
    </div>

    <div class="spaceChartCanvas" id="spaceChartCanvas">
        <div id="spaceChart" class="spaceChart"></div>
    </div>

</section>

<!-- Main Title -->

<section class="mainTitle">
    <h1>Otevřené sbírky</h1>
    <p class="subtitle">Zpráva o digitalizaci a zpřístupňování kulturního dědictví v České republice</p>
    <p class="subtitle">{{currentYear}}</p>
    <div class="partners">
        <p>Průzkum vznikl s podporou</p>
        <div class="partnersLogos">
            <img src="../static/images/logoUmprum.svg" title="Vysoká škola uměleckoprůmyslová v Praze" alt="Vysoká škola uměleckoprůmyslová v Praze">
            <img src="../static/images/logoWiki.svg" title="Wikimedia Foundation, správce Wikipedie" alt="Wikimedia Foundation, správce Wikipedie">
            <img src="../static/images/logoArtAntiques.svg" title="Art Antiques" alt="Art Antiques">
            <img src="../static/images/logoArtalk.svg" title="Artalk" alt="Artalk">
        </div>
    </div>
</section>

<!-- Stats Section -->

<section class="colSizeStatsFrame storyChapter">
    <article class="chapterText">
        <h2>Jak jsou na tom jednotlivá muzea a galerie?</h2>
        <p class="subtitle">Porovnejte si velikosti fyzických sbírek a počet online publikovaných reprodukcí</p>
    </article>
    <nav class="chapterSubmenu yearSwitch" id="switchColYear">
        <a onclick="document.cookie='activeYear=2022'; displayColStats();" class="buttonOutline jsYearButton active">2022</a>
        <a onclick="document.cookie='activeYear=2021'; displayColStats();" class="buttonOutline jsYearButton">2021</a>
        <a onclick="document.cookie='activeYear=2020'; displayColStats();" class="buttonOutline jsYearButton">2020</a>
    </nav>
    <nav class="chapterSubmenu orderSwitch" id="switchColOrder">
        <a onclick="document.cookie='sortKey=Total'; displayColStats();" class="buttonOutline jsSortButton active">Největší sbírky</a>
        <a onclick="document.cookie='sortKey=Online'; displayColStats();" class="buttonOutline jsSortButton">Největší online katalogy</a>
    </nav>
    <div class="colSizeStats" id="colSizeStats">
    </div>
    <nav class="chapterSubmenu">
        <a onclick="toggleCollections()" class="buttonOutline" id="revealButton">Zobrazit vše</a>
    </nav>
</section>

<section class="storyChapter">
    <article class="chapterText">
        <h2>K čemu jsou otevřené sbírky dobré?</h2>
        <p class="subtitle">Sbírkové předměty publikované online jsou dostupnější, přehlednější a lépe přístupné pro <strong>učitele, badatele, umělce, designéry i širokou veřejnost</strong></p>
        <p>Naleznou uplatnění při vzdělávání, výzkumu nebo v kreativním průmyslu; ať už se jedná o film, divadlo nebo architekturu, při tvorbě různorodých publikací či v disciplínách, jako je design počítačových her a digitálních prezentací. Zpřístupnění reprodukcí online má pozitivní vliv i na samotný artefakt; jeho potenciál pro vystavení i probádání je mnohem větší než u nereprodukovaných děl. Navíc se snižuje manipulace s cennými originály, a tím i míra jejich opotřebení. Je tedy možné říct, že čím více digitálních reprodukcí bude dostupných online, tím lépe. A není třeba se bát, že by se tím snížila návštěvnost muzeí a galerií.</p>
    </article>

    <div class="extendedChart chart">
        <canvas id="euCollectionsUse" style="display: block;">
        <script>
            // Global parameters for all charts:
            Chart.defaults.global.responsive = false;
            Chart.defaults.global.defaultFontColor = '#000000';
            Chart.defaults.global.defaultFontSize = 16;
            Chart.defaults.global.defaultFontFamily = "'Montserrat', sans-serif";
            Chart.defaults.global.tooltips.backgroundColor = "#000000";
            Chart.defaults.global.tooltips.titleFontSize = 16;
            Chart.defaults.global.tooltips.bodyFontSize = 16;
            Chart.defaults.global.tooltips.cornerRadius = 0;
            Chart.defaults.global.tooltips.xPadding = 20;
            Chart.defaults.global.tooltips.yPadding = 20;
            Chart.defaults.global.tooltips.borderColor = '#ffffff';
            Chart.defaults.global.tooltips.borderWidth = 1;
            Chart.defaults.scale.gridLines.color = '#000000';
            Chart.defaults.scale.ticks.beginAtZero = true;

            // define the chart data
            var chartData = {
                labels:
                    ['Využití při výzkumu', 'Využití ve vzdělávání', 'Snižuje opotřebení fyzických originálů', 'Osobní potěšení', 'Kreativní využití', 'Ideologické nebo náboženské užití', 'Ostatní využití', 'Obchodní nebo komerční využití'],
                datasets:
                    [
                        {
                            label: ' Podíl (%) představitelů evropských muzeí uvádějících vybrané přínosy online sbírek',
                            backgroundColor: '#000000',
                            data: [88, 85, 76, 63, 53, 47, 46, 27],
                            maxBarThickness: 20,
                        }
                    ]
            }

            // get chart canvas
            var ctx = document.getElementById("euCollectionsUse").getContext("2d");

            // create the chart using the chart canvas

            var allCzCollections = new Chart(ctx, {
                type: 'horizontalBar',
                data: chartData,
            });
        </script>
    </canvas>
    </div>

</section>

<!-- Meziroční srovnání -->

<section class="storyChapter">
    <article class="chapterText">
        <h2>Online přístupných předmětů je stále více, tempo se ale zpomaluje</h2>
        <p class="subtitle">Na jaře 2021 šlo online zobrazit <strong>1 248 204</strong> muzejních artefaktů, o 12 měsíců později to je již <strong>{{ "{:,}".format(onlineItems).replace(',', ' ') }}</strong>. Tento <strong>11% nárůst</strong> je ale výrazně menší, než mezi lety 2020 a 2021, kdy se počet exponátů na internetu téměř zdvojnásobil. </p>
        <p>Největší přírůstek ze sbírkotvorných institucí zaznamenalo od loňského vydání zprávy Národní muzeum, které do svého <a href="https://www.esbirky.cz/hledat/podrobne/vysledky?institution=17595" target="_blank">online katalogu eSbírky</a> zařadilo zhruba 100.000 nových položek. Jiné instituce naopak investovaly do prezentace sbírek ve vlastním online katalogu. Příkladem může být Oblastní galerie Vysočiny v Jihlavě, která na <a href="https://www.mgvysociny.cz/vismo/o_utvar.asp?id_org=450032&id_u=1040" target="_blank">svém webu</a> zpřístupnila téměř 100% ze svých 6555 sbírkových předmětů.</p>
        <p>Během posledního roku se také zvýšil počet institucí, které publikují své exponáty online, o 11 nováčků; mimo jiné o <a href="https://www.esbirky.cz/hledat/podrobne/vysledky?institution=14001670" target="_blank">Alšovu jihočeskou galerii v Hluboké nad Vltavou</a>, <a href="https://www.esbirky.cz/hledat/instituce/37080016" target="_blank">Jihočeské muzeum</a> nebo <a href="https://pkd.kr-stredocesky.cz/search?fq%5B%5D=organizationsOwningDoc:%22Sl%C3%A1de%C4%8Dkovo%20vlastiv%C4%9Bdn%C3%A9%20muzeum%20v%20Kladn%C4%9B%22" target="_blank">Vlastivědné muzeum v Kladně</a>. </p>
    </article>
    <div class="basicChart chart">
        <canvas id="euCzComparison">
            <script>

            // define the chart data
            var chartData = {
                labels :
                ['2022','2021','2020'],
                datasets :
                [
                    {
                        label: 'Předměty přístupné online',
                        backgroundColor: '#949FFF',
                        data :[{{onlineItems}},1248204,643894],
                    },
                    {
                        label: 'Předměty NEpřístupné online',
                        backgroundColor: '#000000',
                        data :[{{totalItems - onlineItems}},24127079,18025261],
                    }
                ]
            }

            // get chart canvas
            var ctx = document.getElementById("euCzComparison").getContext("2d");

            // create the chart using the chart canvas

            var allCzCollections = new Chart(ctx, {
                type: 'bar',
                data: chartData,
                options: {
                    aspectRatio: 1,
                    scales: {
                        xAxes: [{
                            stacked: true
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            });
            </script>
        </canvas>
    </div>
    </div>
</section>

<!-- Jak se sbírky zpřístupňují -->

<!--

<section class="storyChapter">
    <article class="chapterText">
        <h2>Jak se sbírky zpřístupňují?</h2>
        <p class="subtitle">Nejsnadnější cesta vede skrze <strong>nástroje a služby třetích stran</strong>. Naopak vybudování <strong>vlastní prezentace</strong> se jeví jako obtížný úkol vedoucí často k rozpačitým výsledkům.</p>
        <p>Vybudování samostatného online katalogu vyžaduje nemalé finanční zdroje, znalosti informačních technologií i značný čas pracovníků instituce. A to nejen při jeho tvorbě, ale i během provozu. Jako vhodnější způsob se proto prokazuje využití již předpřipraveného publikačního softwaru (jako nabízí například <a href="https://www.webumenia.sk/informacie" target="_blank">Webumenia.sk</a> z produkce Slovenské národní galerie), který umožňuje samostatnou prezentaci muzejní kolekce. Další možností je začlenění reprodukcí do sbírkových agregátorů (v ČR zejména portál <a href="https://www.esbirky.cz/" target="_blank">eSbírky</a>, v mezinárodním měřítku <a href="https://www.europeana.eu/en">Europeana</a> nebo <a href="https://commons.wikimedia.org/wiki/Main_Page" target="_blank">Wikimedia Commons</a>).</p>
    </article>
    <div class="extendedChart chart">
        <canvas id="euCollectionsChannels" style="display: block;">
            <script>

                // define the chart data
                var chartData = {
                    labels:
                        ['Vlastní web', 'Národní agregátor', 'Europeana', 'Jiný agregátor', 'Sociální sítě, Flickr, YouTube apod.', 'Wikipedia/Wikimedia', 'Jiné kanály', 'API třetí strany', 'Vlastní API'],
                    datasets:
                        [
                            {
                                label: ' Podíl (%) evropských muzeí využívající daný online kanál ke zpřístupňování sbírek',
                                backgroundColor: '#000000',
                                data: [83, 44, 40, 20, 20, 13, 12, 10, 10],
                                maxBarThickness: 20,
                            }
                        ]
                }

                // get chart canvas
                var ctx = document.getElementById("euCollectionsChannels").getContext("2d");

                // create the chart using the chart canvas

                var allCzCollections = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: chartData,
                });
            </script>
        </canvas>
    </div>
</section>

-->

<!-- Posun k lepšímu -->

<section class="storyChapter">
    <article class="chapterText">
        <h2>64% muzeí zaznamenalo zlepšení podmínek pro digitalizaci sbírek</h2>
        <p class="subtitle"><strong>47 ze 73 institucí</strong>, které nám vyplnily dotazník, považuje aktuální situaci ohledně digitalizace za <strong>lepší, než byla před začátkem pandemie</strong>. Naopak žádný posun během posledních dvou let nezaznamenalo 23 muzeí.</p>
        <p>Mezi nejčastěji zmiňované pozitivní změny patří posun v prioritách u vedení nebo zřizovatele (26% institucí), větší povědomí o přínosech digitalizace (19%), lepší možnosti financování (21%) a kvalitnější zázemí v oblasti technologií a lidských zdrojů (19%).</p>
    </article>

    <div class="extendedChart chart">
        <canvas id="czObstacles" style="display: block;">
        <script>
            // Global parameters for all charts:
            Chart.defaults.global.responsive = false;
            Chart.defaults.global.defaultFontColor = '#000000';
            Chart.defaults.global.defaultFontSize = 16;
            Chart.defaults.global.defaultFontFamily = "'Montserrat', sans-serif";
            Chart.defaults.global.tooltips.backgroundColor = "#000000";
            Chart.defaults.global.tooltips.titleFontSize = 16;
            Chart.defaults.global.tooltips.bodyFontSize = 16;
            Chart.defaults.global.tooltips.cornerRadius = 0;
            Chart.defaults.global.tooltips.xPadding = 20;
            Chart.defaults.global.tooltips.yPadding = 20;
            Chart.defaults.global.tooltips.borderColor = '#ffffff';
            Chart.defaults.global.tooltips.borderWidth = 1;
            Chart.defaults.scale.gridLines.color = '#000000';
            Chart.defaults.scale.ticks.beginAtZero = true;

            // define the chart data
            var chartData = {
                labels:
                    ['Žádné zlepšení', 'Vyšší priorita digitalizace u vedení', 'Větší povědomí o přínosech digitalizace', 'Více možností financování','Lepší zázemí pro digitalizaci'],
                datasets:
                    [
                        {
                            label: ' Podíl (%) muzeí v ČR, která vidí zlepšení v dané oblasti',
                            backgroundColor: '#000000',
                            data: [31.5, 26.0, 21.9, 20.5, 19.2],
                            maxBarThickness: 20,
                        }
                    ]
            }

            // get chart canvas
            var ctx = document.getElementById("czObstacles").getContext("2d");

            // create the chart using the chart canvas

            var allCzCollections = new Chart(ctx, {
                type: 'horizontalBar',
                data: chartData,
            });
        </script>
    </canvas>
    </div>

</section>

<!-- Digitalizované vs. přístupné -->

<section class="storyChapter">
    <article class="chapterText">
        <h2>Pouze 36% digitalizovaných děl je přístupných online</h2>
        <p class="subtitle">Digitalizovné není totéž co přístupné. <strong>Digitalizováno je v ČR přibližně 14.5% z celkového počtu sbírkových předmětů</strong>. Online přístupných je však pouze 36% z nich.</p>
        <p>Ne každé dílo, které prošlo digitalizací, je zveřejněno na internetu. Většina digitálních reprodukcí je pouze uložena na veřejnosti nedostupných serverech a slouží jen interním potřebám dané instituce.</p>
    </article>
    <div class="basicChart chart">
        <canvas id="czDigiVsOnline" style="display: block;">
        <script>

            // define the chart data
            var chartData = {
                labels:
                    ['Online přístupná díla (%)', 'Digitalizovaná neveřejná díla (%)', 'Nedigitalizovaná díla (%)'],
                datasets:
                    [
                        {
                            label: ' Podíl (%) evropských muzeí využívající daný online kanál ke zpřístupňování sbírek',
                            backgroundColor: ['#949FFF', '#3E4FED', '#000000'],
                            data: [5.3, 9.2, 85.5],
                            maxBarThickness: 20,
                        }
                    ]
            }

            // get chart canvas
            var ctx = document.getElementById("czDigiVsOnline").getContext("2d");

            // create the chart using the chart canvas

            var allCzCollections = new Chart(ctx, {
                type: 'pie',
                data: chartData,
                options: {
                    aspectRatio: 1,
                }
            });
        </script>
        </canvas>
    </div>
    </div>
</section>

<!-- Volná díla -->

<section class="storyChapter">
    <article class="chapterText">
        <h2>Nejméně 31% sbírek tvoří volná díla</h2>
        <p class="subtitle">Jedná se přibližně o <strong>osm milionů děl vytvořených před rokem 1900</strong>, u kterých lze s velkou mírou jistoty předpokládat, že již uplynulo 70 let od smrti autora. Takové exponáty mohou být dle autorského zákona <strong>libovolně reprodukovány a publikovány</strong>.</p>
        <p>U zbývajících 69% sbírkových předmětů patří <strong>autorská práva mezi nejvýznamnější překážky</strong> v online publikaci. Už jen z toho důvodu, že toto omezení vyplývá z celospolečenských legislativních norem a mezinárodních smluv, a tak je z pohledu jednotlivých organizací nejhůře řešitelné. Nejedná-li se o <a href="https://cs.wikipedia.org/wiki/Voln%C3%A9_d%C3%ADlo" target="_blank">volné dílo</a>, musí muzeum pro jeho zveřejnění disponovat potřebnou licencí od držitele majetkových práv. Získávání takového oprávnění však bývá náročný proces, který může představovat významnou překážku otevírání sbírek.</p>
        <p>Ani publikace díla online však sama o sobě neznamená, že je možné reprodukci dále využívat. K tomu je nutné, aby bylo na stránce uvedeno, že je dílo dostupné pod <a href="https://creativecommons.org/licenses/" target="_blank">otevřenou licencí</a>.</p>
        <p>Podíl volných děl v celkovém objemu muzejních sbírek:</p>
    </article>
    <div class="basicChart chart">
        <canvas id="euLicence" style="display: block;">
        <script>

            // define the chart data
            var chartData = {
                labels:
                    ['Volná díla', 'Díla chráněná majetkovými právy'],
                datasets:
                    [
                        {
                            label: ' Podíl (%) děl ve sbírkách',
                            backgroundColor: ['#949FFF', '#000000'],
                            data: [31, 69],
                            maxBarThickness: 20,
                        }
                    ]
            }

            // get chart canvas
            var ctx = document.getElementById("euLicence").getContext("2d");

            // create the chart using the chart canvas

            var allCzCollections = new Chart(ctx, {
                type: 'pie',
                data: chartData,
                options: {
                    aspectRatio: 1,
                }
            });
        </script>
        </canvas>
    </div>
</section>

<!-- Otevřená data usnadňují další využití -->

<section class="storyChapter">
    <article class="chapterText">
        <h2>Otevřená data usnadňují další využití</h2>
        <p class="subtitle">Ani předměty publikované pod <strong>Otevřenou licencí</strong> nemusí být snadno použitelné.</p>
        <p>Záznamy poskytované kulturními institucemi o jejich sbírkách a aktivitách by měly mít formu <a href="https://creativecommons.org/licenses/" target="_blank">otevřených dat</a>, která je vhodná pro <a href="https://pro.europeana.eu/page/apis" target="_blank">další počítačové zpracování</a>. V domácím prostředí se bohužel nenachází žádný katalog, který by <a href="https://www.programmableweb.com/category/museums/api" target="_blank">strojový přístup k databázi</a> umožňoval. Zájemce o větší objem reprodukcí je proto vždy odkázán na vyjednávání s institucí o zpřístupnění dat nebo musí vynaložit značné úsilí při rekonstrukci datasetu z dostupných zdrojů. V obou případech se jedná o bariéru, která odrazuje od užití digitalizovaných sbírek.</p>
    </article>
</section>

<section class="storyChapter">
    <article class="chapterText">
        <h2>Na viděnou v lepších číslech</h2>
    </article>
</section>

<footer>
    <article class="chapterText">
        <h2>Metodika průzkumu</h2>
        <p class="subtitle">Jakým způsobem byla získána a zpracována data</p>
        <p>Pro průzkum byla využita a kombinována data z několika zdrojů. Informace o velikosti fyzických kolekcí vychází z údajů registrovaných v  <a href="https://www.cesonline.cz/" target="_blank">Centrální evidenci sbírek muzejní povahy</a> (dále jen CES), kde je u každé podsbírky uveden údaj o počtu obsažených artefaktů. Počet fyzických artefaktů ve sbírce tedy odpovídá součtu artefaktů ze všech pod ní spadajících podsbírek. Ne vždy však data zobrazovaná v průzkumu přímo odpovídají informacím z evidence. V některých případech se při jejich zpracování objevily dílčí problémy, které jsme řešili následujícími způsoby:</p>
        <ol>
            <li>Většina sbírkotvorných institucí má v CES registrovánu právě jednu sbírku, což umožnilo porovnání počtu v ní evidovaných fyzických artefaktů s celkovým počtem položek v online katalogu dané instituce. V případech, kdy měla instituce registrovánu více než jednu sbírku, jsme tyto sbírky sloučili do jedné, aby bylo porovnání možné.</li>
            <li>V ojedinělých případech byl počet online přístupných děl vyšší než počet registrovaných fyzických artefaktů v CES. V takových situacích jsme považovali údaj registrovaný v CES za zastaralý a nahradili jsme jej velikostí online kolekce. </li>
        </ol>
        <p>Jako online zpřístupněný artefakt se v tomto průzkumu považuje položka zařazená do online katalogu obsahující digitální reprodukci (například fotografii, sken, video apod. bez ohledu na technickou kvalitu) a inventární číslo. Při určování rozsahu online katalogů jsme u každé instituce brali v potaz digitalizované artefakty zpřístupněné v rámci:</p>
        <ol>
            <li><a href="https://www.esbirky.cz/" target="_blank">Portálu eSbírky Národního muzea</a></li>
            <li><a href="http://www.citem.cz/promus11/index.php?page=catalogue" target="_blank">Portálu CITeM - Registru sbírek výtvarného umění</a></li>
            <li>Online katalogů zřizovaných jednotlivými muzey či menšími skupinami muzeí</li>
        </ol>
        <p>Ve třetím jmenovaném případě byl za online katalog považován takový web, který strukturovaně zobrazoval jednotlivé kulturní artefakty včetně jejich obrázků i popisů a který nabízel nástroje k jejich vyhledávání či systematickému procházení. </p>
        <p>Některé instituce zpřístupňují digitalizované artefakty více cestami zároveň (například v portálu eSbírky a ve vlastním online katalogu). V takové situaci byl započítán katalog s větším počtem položek, nikoliv součet položek z obou zdrojů. Důvodem pro to byl namátkově ověřený předpoklad, že se v katalogu s menším rozsahem objevují pouze takové artefakty, které jsou rovněž zahrnuty ve větším katalogu. Ze stejného důvodu nebyla do průzkumu zahrnuta data českých institucí z portálů Europeana Collections a Wikimedia Commons, které, oproti výše uvedeným zdrojům, obsahují nižší počty zastoupených artefaktů.</p>
        <p>Ve většině případů bylo možné z online katalogů získat informaci o počtu obsažených digitalizovaných artefaktů spadajících pod danou instituci. V případě portálu CITeM však katalog nerozlišuje položky s digitální reprodukcí a bez ní, což znejasňuje reálný počet online zpřístupněných artefaktů. V tomto případě jsme tedy použili statistický odhad celkového rozsahu na základě menšího vzorku náhodně vybraných položek.</p>
        <p>Dalším významným zdrojem dat byly dotazníky, které vyplnily jednotlivé instituce. Během průzkumu jsme oslovili veškerá muzea registrovaná v CES (přibližně 400) a odpovědi nám zaslalo 73 z nich. Tyto informace nám pomohly ke korekci dat (informace pocházející přímo od muzeí jsme brali jako důvěryhodnější než informace z výše uvedených zdrojů) a ke statistickému odhadu podílu digitalizovaných, avšak online nepřístupných děl.</p>
        <p>Pro rozšíření úhlu pohledu jsme data z českého prostředí doplnili o vybrané související údaje v evropském kontextu. Tyto informace byly převzaty ze zdrojů:</p>
        <ol>
            <li><a href="https://ec.europa.eu/eurostat/documents/3217494/10177894/KS-01-19-712-EN-N.pdf/915f828b-daae-1cca-ba54-a87e90d6b68b" target="_blank">Eurostat Culture Statistics 2019</a></li>
            <li><a href="https://pro.europeana.eu/post/europeana-strategy-2020-2025-empowering-digital-change?fbclid=IwAR2I4EA95sWFayNxR_t21PcGWEVcxFb5r-MwDuSPDkyPr6ntSVBfltoATs0" target="_blank">Europeana strategy 2020-2025: Empowering digital change</a></li>
            <li><a href="https://pro.europeana.eu/files/Europeana_Professional/Projects/Project_list/ENUMERATE/deliverables/DSI-2_Deliverable%20D4.4_Europeana_Report%20on%20ENUMERATE%20Core%20Survey%204.pdf" target="_blank">Europeana DSI 2– Access to Digital Resources of European Heritage</a></li>
        </ol>
        <p>Vzhledem k velkému množství zdrojů, které bylo nutné zpracovat, jsme mohli některý katalog či jeho část opomenout. Budeme rádi, když nás v takovém případě upozorníte na email <a href="mailto:otevrenesbirky@gmail.com">otevrenesbirky@gmail.com</a></p>
        <br><br>
        <p><a href="/static/openCollections.csv">Stáhnout data ve formátu .csv</a><br>Dataset obsahuje seznam všech institucí, jejichž sbírky jsou registrovány v Centrální evidenci sbírek MK ČR. U každé instituce je k dispozici odkaz na online katalog, údaje o celkové velikosti sbírek, počet online přístupných artefaktů a počet artefaktů zpřístupněných pod otevřenou licencí. Data jsou rozdělena dle jednotlivých let. </p>
        <!--<p><a href="/static/downloads/TZ-otevrene-sbirky.pdf">Stáhnout tiskovou zprávu</a></p>-->
        <br><br>
        <p>Průzkum vznikl se záštitou Centra doktorských studií UMPRUM, rektora Vysoké školy uměleckoprůmyslové v Praze a Wikimedia Česká republika. Za mediální podporu děkujeme Art+Antiques a Artalk.cz.</p>
        <p><a href="http://lukaspilka.cz/" target="_blank">Lukáš Pilka</a> a <a href="mailto: tereza.skvarova@gmail.com">Tereza Škvárová</a>, Eva Andrejsová a Vojtěch Dostál, {{currentYear}}</p>
    </article>
</footer>

</body>
</html>
